<div class="container mt-5">
  {{ errorMessage }}
  <div class="chat-header">
    <h3 class="text-center my-2">Чат</h3>
    <button (click)="leaveChat()" class="btn btn-danger leave-chat-btn">
      <i class="fas fa-sign-out-alt"></i> Leave 
    </button>
  </div>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="inbox_chat">
          <div *ngFor="let user of users" class="chat_list">
            <div class="chat_people">
              <div class="chat_img"></div>
              <div class="chat_ib">
                <h5>{{user.firstName}} {{user.secondName}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div #scroll class="msg_history">
          <ng-container *ngFor="let message of messages">
            <div class="message-group" [ngClass]="{
              'outgoing': message.userId === loggedUserName,
              'incoming': message.userId !== loggedUserName,
              'sentiment-positive': message.sentiment === TextSentiment.Positive,
              'sentiment-neutral': message.sentiment === TextSentiment.Neutral,
              'sentiment-negative': message.sentiment === TextSentiment.Negative
            }">
              <div class="message-content-wrapper">
                <div class="message-content">
                  <p>{{message.text}}</p>
                </div>
                <span class="time_date">{{message.date | date: 'medium'}}</span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input (keydown.enter)="sendMessage()" [(ngModel)]="inputedMessage" type="text" class="write_msg" placeholder="Enter message">
            <button (click)="sendMessage()" class="msg_send_btn" type="button">
              <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>